#startFieldset {
	width: 175px;
	display: inline-block;
}

#endFieldset {
	width: 175px;
	display: inline-block;
}

#content_reservation-fullCalendar {
	padding-top: 10px;
}

#content_reservation-fullCalendar .fc-header td{
	margin-top: 0px;
	padding-top: 0px;
}

#content_reservation-fullCalendar .fc-header tbody{
	border-top: 0px none;
}
